@use '../abstracts/variables' as va;

.c-changeProfile {
  &-title {
    margin-bottom: 0.5rem;
  }

  &-subTitle {
    margin-bottom: 0.5rem;
  }
  
  &-box {
    margin-bottom: 0.5rem;
    &-label {
      font-weight: 600;
      margin-bottom: 0.2rem;
    }

    &-input {
      width: 100%;
    }
  }

  &-show-error {
    color: va.$focus;
    padding-top: 0.5rem;
    display: block;
  }

  &-hidden-error {
    padding-top: 0.5rem;
    display: none;
  }
}