@use '../abstracts/variables' as va;
@use '../abstracts/mediaQuery' as mq;
@use '../abstracts/keyframe' as kf;

.c-header {
  height: 5rem;
  width: 100%;
  box-shadow: 0 8px 8px rgb(0 0 0 / 10%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  
  @include mq.mobileL {
    height: 4rem;
  }

  &::after {
    width: 100%;
    height: 0.2rem;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: va.$red;
  }

  &-brand{
    height: 100%;
    display: flex;
    align-items: center;

    &-logo{
      height: 100%;

      > img {
        height: 100%;
      }
    }

    &-menu{
      margin-left: 2rem;
      cursor: pointer;
      height: 2rem;
      display: flex;
      align-items: center;

      @include mq.mobileL {
        margin: 0rem;
      }

      &-item{
        height: 0.2rem;
        width: 1.7rem;
        background-color: va.$bg-btn;
        border-radius: 1rem;
        position: relative;
        transition: all 0.3s linear;

        @include mq.mobileL {
          width: 1.5rem;
        }

        &::after {
          content: '';
          height: 0.2rem;
          width: 1.7rem;
          background-color: va.$bg-btn;
          border-radius: 1rem;
          position: absolute;
          top: -0.6rem;
          left: 0;
          transition: all 0.3s linear;
          @include mq.mobileL {
            width: 1.5rem;
            top: -0.5rem;
          }
  
        }

        &::before {
          content: '';
          height: 0.2rem;
          width: 1.7rem;
          background-color: va.$bg-btn;
          border-radius: 1rem;
          position: absolute;
          top: 0.6rem;
          left: 0;
          transition: all 0.3s linear;
          @include mq.mobileL {
            width: 1.5rem;
            top: 0.5rem;
          }
  
        }
      }

      &-close {
        background-color: #fff;
        transition: all 0.3s linear;
          &::after {
          content: '';
          height: 0.2rem;
          width: 1.7rem;
          background-color: va.$bg-btn;
          border-radius: 1rem;
          position: absolute;
          top: 0rem;
          left: 0;
          transform: rotate(45deg);
          transition: all 0.3s linear;
          @include mq.mobileL {
            width: 1.5rem;
            top: -0.5rem;
          }
  
        }

        &::before {
          content: '';
          height: 0.2rem;
          width: 1.7rem;
          background-color: va.$bg-btn;
          border-radius: 1rem;
          position: absolute;
          top: 0rem;
          left: 0;
          transform: rotate(-45deg);
          transition: all 0.3s linear;

          @include mq.mobileL {
            width: 1.5rem;
            top: 0.5rem;
          }
  
        }
      }
    }
  }

  &-setting {
    display: flex;
    align-items: center;
    position: relative;

    &-icon{
      margin-right: 2rem;
      cursor: pointer;

      @include mq.mobileL{
        margin-right: 1rem;
      }

      @include mq.mobileS{
        margin-right: 0.5rem;
      }

      > img {
        width: 1.8rem;
        @include mq.mobileL{
          width: 1.5rem;
        }

      }
    }

    &-selectlang{
      @include mq.tablet{
        display: none;
      }
    }

    @keyframes showAnimation {
      0% {
        top: 2rem;
        opacity: 0;
      }
    
      100% {
        top: 3rem;
        opacity: 1;
      }
    }

    &-list {
      position: absolute;
      background-color: #fff;
      box-shadow: 2px -2px 2px rgb(0 0 0 / 5%), -2px 2px 2px rgb(0 0 0 / 5%);
      padding: 0.5rem;
      top: 3rem;
      right: 1rem;
      z-index: 990;
      animation: showAnimation 0.3s linear;
    }

    &-item-setting {
      
      padding: 0.5rem 1rem;
      a {
        display: flex;
        align-items: center;
      }

      &:hover {
        background-color: va.$bg-disable;
      }

      &:first-child{
        border-bottom: 1px dotted va.$bg-btn;
      }

      img {
        width: 1.2rem;
      }

      span{
        padding: 0 0.5rem;
      }
    }
  }
}

