@use '../abstracts/variables' as va;

.c-twoFaItem {
  display: flex;
  align-items: center;
  cursor: pointer;

  &-check {
    margin-left: 1rem;
  }

  &-image {
    width: 3.5rem;
    margin: 0 2rem;
  }

  &-content {
    &-title {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    &-description {
      color: va.$color-text-description;
    }
  }
}