@use '../abstracts/variables' as va;

.p-profile-setting {
  background-color: #fff;
  border-radius: 0.2rem;
  padding: 0.5rem;

  &-title {
    font-weight: 600;
    font-size: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid va.$color-botom-title;
    margin-bottom: 1.5rem;
  }

  &-description {
    background-color: va.$bg-disable;
    padding: 1rem;
    border-radius: 0.2rem;
    color: va.$color-text-description;
    margin-bottom: 2rem;
  }

  &-table {
    border: 1px solid va.$bg-btn;
    border-radius: 0.2rem;

    &-row {
      border-bottom: 1;

      &:not(:last-child) { 
        border-bottom: 1px dotted va.$color-text-description;
      }
    }
  }

  &-modal {
    margin: auto;
    &-title {
      margin-bottom: 1rem;
    }

    &-group {
      margin-bottom: 1rem;
    }

    &-brand {
      margin-bottom: 0.5rem;
      font-weight: 600;
    }

    &-input {
      width: 100%;

      &-error {
        border: 2px solid va.$focus;
      }
    }

    &-message {
      display: none;
      margin-top: 0.5rem;
      font-size: 0.8rem;
      color: va.$focus;
    }

    &-error {
      display: block;
    }
  }
}