.p-registInfo {
  &--title {
    font-size: 1.5rem;
    margin: 1rem 0;
    text-align: center;
  }

  &--sub {
    font-size: 0.8rem;
    margin-bottom: 2rem;
  }

  &--form {
    margin-bottom: 2rem;
    > input {
      margin-bottom: 2rem;
      width: 100%;
    }

    .p-registInfo--form-submit {
      width: 100%;
      cursor: pointer;
      font-family: "Open Sans", sans-serif;
      margin-bottom: 1.5rem;
    }

    &-checkbox {
      display: flex;
      margin-bottom: 1rem;
      // align-items: center;

      > input {
        margin-right: 1rem;
      }

      > label {
        font-size: 0.8rem;
      }
    }

  }
}